[submodule "vendor/submodules/glfw"]
	path = vendor/submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/submodules/imgui"]
	path = vendor/submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/submodules/minhook"]
	path = vendor/submodules/minhook
	url = https://github.com/TsudaKageyu/minhook
