[submodule "vendor/submodules/glfw"]
	path = vendor/submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/submodules/imgui"]
	path = vendor/submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/submodules/minhook"]
	path = vendor/submodules/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "vendor/submodules/utfcpp"]
	path = vendor/submodules/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "vendor/submodules/fmt"]
	path = vendor/submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/submodules/mbedtls"]
	path = vendor/submodules/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "vendor/submodules/ixwebsocket"]
	path = vendor/submodules/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket
[submodule "vendor/submodules/nghttp2"]
	path = vendor/submodules/nghttp2
	url = https://github.com/nghttp2/nghttp2
[submodule "vendor/submodules/curl"]
	path = vendor/submodules/curl
	url = https://github.com/curl/curl
[submodule "vendor/submodules/cpr"]
	path = vendor/submodules/cpr
	url = https://github.com/libcpr/cpr
